<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MarshControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <MarshControl.Properties.Settings>
            <setting name="dd" serializeAs="String">
                <value>86</value>
            </setting>
            <setting name="dt" serializeAs="String">
                <value>46</value>
            </setting>
            <setting name="i" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="c" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="e" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gamma" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="theta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="l" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="r" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="com" serializeAs="String">
                <value>5</value>
            </setting>
        </MarshControl.Properties.Settings>
    </userSettings>
</configuration>
